#home {
  font-size: 16px;
  height: 100%;
}
#home .mint-swipe {
  height: 240px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
#home .mint-swipe-item {
  line-height: 200px;
}
#home .slide1 {
  background-color: #0089dc;
  background-image: url("../../assets/images/djgb_m.png");
  background-position: center bottom;
  color: #fff;
}
#home .slide2 {
  background-color: #ffd705;
  color: #000;
}
#home .slide3 {
  background-color: #ff2d4b;
  color: #fff;
}
#home #menu {
  padding: 0px 10px;
}
#home .box {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 45%;
  height: auto;
  text-align: center;
  display: inline-block;
  background-color: white;
  margin-left: 10px;
  margin-top: 20px;
  vertical-align: middle;
}
#home #bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Rectangle 7: */
  box-shadow: 0 -1px 2px 0 rgba(127, 127, 127, 0.38);
  font-size: 12px;
  height: 28px;
  line-height: 28px;
}
#home #bottom svg {
  color: #E64A19;
}
#home .router_view_box {
  margin-top: 40px;
  padding-bottom: 40px;
}
