#shortcutMenu {
  width: 100%;
  height: auto;
  margin: 10px auto;
  text-align: justify;
  padding: 0px 0px;
  z-index: 1;
}
#shortcutMenu .cell {
  width: 33%;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}
#shortcutMenu .cell button {
  margin: 0 13px;
}
#shortcutMenu .cell p {
  margin: 8px auto;
}
